*{
    margin: 0%;
    padding: 0%;
    box-sizing: border-box;
}
.container{
    width: 100%;
    background-color: black;
    height: auto;
    display: flex;
    flex-direction: column;
}
.hero{
    width: 100%;
    background-color:#ffce80;
    height:auto;
    position: relative;
    display: flex;
    flex-direction: column;
    column-gap: 50px;
}
.hero p{
   font-size: 1.2rem;
    color:  brown;
    padding: 20px;
}
.hero h1{
    font-size: 3rem;
    color:  brown;
    padding: 30px;
    
}
.icon{
    width: 100%;
    height: 420px;
}
.icon1,.icon2,.icon3,.icon4{
    width: 130px;
    height: 130px;
    z-index: 5;
    margin:30px 40px;  
}
.icon1:hover,.icon2:hover,.icon3:hover,.icon4:hover{
    transition: 5s ;
    transform: rotate(360deg);
}
.icon2{
    margin-top: 50px;
}
.icon3{
    
}
.wave{
    position: absolute;
    bottom: 0;
    z-index: 1;
}
.button{
    width: 100%;
    height: 100px;
    background-color: #ffce80;
    display: flex;
    flex-direction: row;
    justify-content: center;
   border-bottom: 2px solid black;
}
.traditionB,.popularB{
    font-size: 2.5rem;
    text-shadow: 1px 3px rgb(0, 0, 0);
    margin-bottom: 20px;
    margin-left: 20px;
    color: brown;
    background-color: transparent;
    border: none;
    border-bottom: 4px solid brown;
}
.traditionB:hover,.popularB:hover{
   border-bottom: 8px solid brown;

}

.main{
    width: 100%;
    height: auto;
    background-color:rgb(193, 50, 50);
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}
.hidden{
    width: 100%;
    height: auto;
    background-color: rgb(112, 29, 29);
    display: none;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}
.content{
    width: 95%;
    height:auto;
    margin: 30px;
    padding: 20px;
     border: 1px outset rgb(159, 159, 159);
    border-radius: 20px; 
    box-shadow: 3px 3px 5px rgb(235, 235, 235);
   background-color: #0b020222;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-evenly;
    border-bottom: 1px solid black;
   
}
.content:hover,.content:focus{
    background-color:#ff333322 ;
}
.box2{
    font-size: 1rem;
   color: antiquewhite;
}

.box1,.box2,.boxm{ 
    color: antiquewhite;
    text-shadow: 2px  rgb(27, 0, 0);
    margin: 10px 20px;
    padding: 10px  ;
    width:330px;
    height: 400px;
    background-color: ;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;

}
strong{
    color: black;
}
h1{
    padding: 10px;
}
img{
    width: 330px;
    height: 330px;
    border-radius: 50%;
    box-shadow: 1px 1px 3px brown;
}
::marker{
    
}